<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goingroguedesign">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.projects.note.AddNoteActivity"></activity>
        <activity android:name=".ui.projects.invoice.InvoiceImageActivity" />
        <activity android:name=".ui.projects.ProjectDetailActivity" />
        <activity android:name=".ui.account.AddContractorActivity" />
        <activity android:name=".ui.account.SignUpActivity" />
        <activity android:name=".ui.account.ContractorActivity" />
        <activity android:name=".ui.account.UpdatePasswordActivity" />
        <activity android:name=".ui.account.UpdatePhoneActivity" />
        <activity android:name=".ui.account.UpdateAddressActivity" />
        <activity android:name=".ui.account.UpdateEmailActivity" />
        <activity android:name=".ui.account.UpdateNameActivity" />
        <activity android:name=".ui.account.UpdateUsernameActivity" />
        <activity android:name=".ui.home.RequestInfoActivity" />
        <activity android:name=".ui.account.SignInActivity" />
        <activity android:name=".ui.home.ListServicesActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>